.navigation {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include sm {
        max-width: 280px;
        svg {
            height: 48px;
            width: 48px;
        }
    }
}
