.home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.home__content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
}
